@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

body{
    background: var(--color-primary);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAir MacBookProApp MacBookProApp"
    "MacBookAirScreen MacBookAirScreen MacBookPro"
    "MacBookAirScreen MacBookAirScreen MacBookPro"
    ;

    grid-gap: 8px;



    width: 800px;
    height: 700px;

    margin: 15px auto;

}

.container div{
    border-radius: 8px;
  
    background: var(--color-secundary);
}

.item1{
    
    grid-area: MacBookAir;
    
}

.item2{

    grid-area: MacBookProApp;
   

}

.item3{
    grid-area: MacBookAirScreen;
    
}
.item4{
    grid-area: MacBookPro;
   
}

@media( width < 800px){
    
    .container{
        grid-template-areas:
            "MacBookAir MacBookAir MacBookAir"
            "MacBookProApp MacBookProApp MacBookProApp"
            "MacBookAirScreen MacBookAirScreen MacBookAirScreen"
            "MacBookPro MacBookPro MacBookPro"
        ;
    }
}
